*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  display: flex;
  justify-content: center;  
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: rgb(30, 132, 205);

}
.signupDiv {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 500px;
  background: #fff;
  margin-top: 150px;
  border-radius: 10px;
  
  
}
.logo{
  height: 80px;
  margin-top: 30px;
  padding-left: 80px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.inputV {
  height: 50px;
  width: 350px;
  border-radius: 10px;
  
  border: 2px solid grey;
  padding-left: 15px;
  font-size: 20px;
}
.inputV:focus{
  border: 2px solid rgb(30, 132, 205);
  outline:  none;
}
.inputField {
  margin-top: 20px;
}
.button {
  height: 50px;
  width: 350px;
  border-radius: 10px;
  border:none;
  background-color: rgb(30, 132, 205);
  margin-top: 20px;
  font-size: 20px;
  color: white;

}
.button:hover{
  background-color: rgb(226, 43, 43);
}

.logoo{
  height: 80px;
  margin-left: 125px;
  margin-top: 20px;
}

.signinDiv {
  display: flex;
  height: 400px;
  width: 500px;
  background-color: #fff;
  margin-top: 250px;
  border-radius: 10px;
  justify-content: center;
  


}